<a href="https://colab.research.google.com/github/nurfnick/Data_Viz/blob/main/12_GatheringConclusion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Gathering Data Conclusion

At this point you should be able to gather data from:


*   A CSV or Excel file
*   SQL databases
*   HTML tables
*   Twitter

From all that data that you have gathered you should be able to do some basic manipulations on it using pandas or sql langauge.

To prepare yourself for the exam, attempt the following problems:

1. Use the SQL table `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
  1. How many entries are there in the dataset
  2. How many False Alarms happened between 10PM and 5 AM?
  3. What is the average number of num_pumps_attending when there is a Fire?
  4. What is the largest number of num_pumps_attending to a Road Vehicle property_category
2. Navigate to the Oklahoma wikipedia page.  Grab the table on tempuratures in largest cities.
  1. What is the average monthly temperature for OKC?
  2. Create a plot of the average monthly tempurature in Tulsa.
  3. Identify the city with the highest average tempurature in each month.

## My Solutions

### SQL

In [1]:


from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

How many total rows are there?

In [2]:
%%bigquery --project pic-math
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`

   total_rows
0       32247

Here I am peaking at the data.

In [3]:
%%bigquery --project pic-math
SELECT *
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
LIMIT 10

   incident_number  ... num_pumps_attending
0  000320-01012017  ...                   2
1  003727-09012017  ...                   2
2  003762-09012017  ...                   2
3  006403-16012017  ...                   2
4  010947-26012017  ...                   1
5  014169-03022017  ...                   5
6  016263-08022017  ...                   2
7  016865-09022017  ...                   1
8  017092-10022017  ...                   1
9  024609-27022017  ...                   1

[10 rows x 32 columns]

To find 'False Alarms' between certain hours, I will use the `WHERE` command and join several clauses carefully with `AND` and `OR`

In [8]:
%%bigquery --project pic-math
SELECT COUNT(*) as number_of_late_night_false_alarms
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
WHERE incident_group = "False Alarm" AND (hour_of_call >= 22 OR hour_of_call <= 4)

   number_of_late_night_false_alarms
0                               2825

If we want to see about when there is a fire, we will need to either restrict our data to then or possible `GROUP BY`  I think I'll use the group by since I already did one with the WHERE.

In [7]:
%%bigquery --project pic-math
SELECT incident_group, AVG(num_pumps_attending) as avg_pumps_attending
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
GROUP BY incident_group

    incident_group  avg_pumps_attending
0      False Alarm             1.725776
1             Fire             1.633012
2  Special Service             1.177192

### HTML

To navigate to the wikipedia page I'll need some other packages!

In [24]:


import requests
import pandas as pa
from bs4 import BeautifulSoup


r = requests.get('https://en.wikipedia.org/wiki/Oklahoma')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="toccolours")

df = pa.read_html(str(tables))[0]


df.columns = df.columns.droplevel(0)
df

                        Census  ...                          %
0                         1890  ...
1                         1900  ...                      205.6%
2                         1910  ...                      109.7%
3                         1920  ...                       22.4%
4                         1930  ...                       18.1%
5                         1940  ...                       2.5%
6                         1950  ...                       4.4%
7                         1960  ...                        4.3%
8                         1970  ...                        9.9%
9                         1980  ...                       18.2%
10                        1990  ...                        4.0%
11                        2000  ...                        9.7%
12                        2010  ...                        8.7%
13                        2020  ...                        5.7%
14                 2021 (est.)  ...                        6.3%
15  U.S. Decennial Census[100]  ...  U.S. Decennial Census[100]

[16 rows x 4 columns]

In [28]:
df['Pop.'].hist()

AttributeError: ignored

TypeError: ignored